body{
    background-color: #FFFDF0;
    margin: 0px;
}
.top-header{
    width: 100%;
    height: 100px;
    background-color: #FFFDF0;
    display: flex;
    flex-direction: row;
    color: #CC876A;
    justify-content: center;
}
.text-logo{
    color: #BE2233;
    margin-top: 40px;
    margin-right: 30px;
}
.search{
    width: 496px;
    height: 44px;
    background-color: #F4D9D2;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 34px;
}
.text-search{
    padding: 0 30px 0 30px;
    margin-top: 10px;
    font-size: 24px;
}
.img-search{
    width: 16px; 
    height: 16px;
    position: absolute;
    right: 20px;
    padding: 15px 0 15px 0;
}
.img-login{
    width: 18px;
    height: 18px;
    padding: 7px;
}
.text-login{
    margin: 0;
    padding: 0;
    font-size: 15px;
}
.header-login{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
}
.header-cart{
    margin-top: 40px;
}
.icon-cart{
    width: 25px;
    height: 25px;
    margin-right: 15px;
}
.line-header{
    width: 1200px;
    margin: auto;
    border: 1px solid #F4D9D2;
}
.nav-bar{
    width: 100%;
    height: 78px;
    background-color: #FFFDF0;
    text-align: center;

}
.ul-nav-bar{
    margin: 0px;
    padding: 0px;
    padding-top: 37px;

}
.li-nav-bar{
    display: inline;
    padding-left: 26px;
    font-size: 24px;
    
}
a{
    text-decoration: none;
    color: #346D9E;
}
.banner{
    width: 100%;
}
.title{
    font-size: 36px;
    color: #CC876A;
    text-align: center;
    margin: 30px;
}
.catalog{
    width: 100px;
    display: flex;
    flex-direction: row;
}
.card-catalog{
    width: 240px;
    border: 2px solid #DEDEDE;
    border-radius: 5px;
    margin: 5px;
    margin-bottom: 10px;
}
.img-card{
    width: 240px;
    height: 237px;
}
.title-card{
    margin-left: 15px;
    margin-top: 20px;
    font-size: 24px;
    color: #CC876A;
    margin-bottom: 24px;
}
.info-card{
    margin-left: 15px;
    color: #346D9E;
}
.text-value{
    font-size: 24px;
    margin: 0px;
}
.text-payment{
    font-size: 15px;
    margin: 0px;
    margin-bottom: 20px;
}
.catalog-center{
    width: 1000px;
    margin: auto;
    padding: auto;
    display: block;
}
.card-two{
    width: 494px;
    height: 414px;
    margin: 10px;
    margin-top: 64px;
    margin-bottom: 64px;
}
.card{
    text-align: center;
}
footer{
    width: 100%;
    height: 494px;
    background-color: #2668A2;
}